[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "trajmsm"]
	path = trajmsm
	url = https://github.com/awamaeva/r-package-trajmsm
